

body{
    
    
    background-color: #FFFACD;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 100;
    margin: 0;
    padding: 10;
    display: block;
    max-width: 100%;
}

